<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyData Client</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/about']">
            <span class="fa fa-question-circle"></span> About
          </a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/datasets']">
            <span class="fa fa-database"></span> Datasets
          </a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/schemas']">
            <span class="fa fa-list-alt"></span> Schemas
          </a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/tags']">
            <span class="fa fa-bookmark"></span> Tags</a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/licenses']">
            <span class="fa fa-credit-card"></span> Licenses</a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/comments']">Comments</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" app-login-basic>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- /container -->
