<div class="container">
  <div class="resume">
    <div class="row">

      <div class="panel panel-default">
        <div class="panel-heading resume-heading">
          <div class="row">
            <div class="col-md-12" align="center">
              <h3 class="page-title tc">Open Licence Details</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" align="right" *ngIf="isOwner">
              <a class="btn btn-primary" role="button" routerLink="{{openLicense.uri}}/edit">
                <span class="glyphicon glyphicon-edit"></span> Edit</a>
              <a class="btn btn-danger" role="button" (click)="onDelete(openLicense)">
                <span class="glyphicon glyphicon-trash"></span> Delete</a>
            </div>
          </div>
        </div>

        <div class="bs-callout bs-callout-danger">
          <div class="row">
            <div class="col-md-3">
              <h4 class="tc">Open Licence Text</h4>
            </div>
            <div class="col-md-9">
              <p class="tc">{{openLicense.text}}</p>
            </div>
          </div>
        </div>

        <div class="bs-callout bs-callout-danger">
          <div class="row">
            <div class="col-md-3">
              <h4 class="tc">Owner</h4>
            </div>
            <div class="col-md-9">
              <a class="line tc" [routerLink]="['/users/'+ownerName]">{{ownerName}}</a>
            </div>
          </div>
        </div>

        <div class="bs-callout bs-callout-danger">
          <div class="row">
            <div class="col-md-3">
              <h4 class="tc">Datasets</h4>
            </div>
            <div class="col-md-9">
              <a class="tc" [routerLink]="[openLicense.uri+'/datasets']">List datasets of {{openLicense.text}}</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

