<div class="row">
  <div class="col-md-4">
    <h4 *ngIf="schemas.length == 0">There are no schemas registered</h4>
    <h4 *ngIf="schemas.length > 0">There are {{schemas.length}} schemas registered</h4>
  </div>
  <div class="col-md-8">
    <h4>
      <a class="btn btn-lg btn-primary" role="button"
         [routerLink]="['/schemas/new']">Register Schema</a>
    </h4>
  </div>
</div>

<div class="row">
  <h3>Schemas</h3>
  <div class="panel-group">
    <div class="panel panel-default" *ngFor="let schema of schemas">
      <div class="panel-heading">
        <h4>Title: <a routerLink="{{schema.uri}}">{{schema.title}}</a></h4>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>Description:</h4>
          <p>{{schema.description}}</p>
        </div>
        <div class="col-md-6">
          <h4>Additional details:</h4>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
